$azureRadiance: #008dff;
$black: #000000;
$boulder: #777777;
$catskillWhite: #f0f2f7;
$codGray: #121212;
$cornflowerBlue: #040c36;
$dodgerBlue: #2699fb;
$doveGray: #707070;
$gallery: #eaeaea;
$heather: #b9bed1;
$malibu: #7fc4fd;
$white: #ffffff;
$cinnabar:#e64c21;