@import 'apputils/colors.scss';

.metrics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 4em;

    &__item {
        display: flex;
        flex-direction: column;

        &>span {
            appearance: none;
            color: $azureRadiance;
            font-size: 2.875em;
            height: 1.75em;
            letter-spacing: .1em;
            margin-top: .2em;
            width: 5em;

            &>sup {
                font-size: 0.435em;
                font-weight: 300;
                letter-spacing: 0;
                margin-left: .5em;
                text-transform: uppercase;
            }
        }
    }
}


@media (max-width: 1000px) {
    .metrics {
        font-size: 10px;
    }
}